body {margin: 0; padding: 0px; font-family: Arial;font-size: 14px;}

header,footer {padding: 10px 0px;background-color: #f5f5f5; border: 2px solid #cccccc;}
header{min-height: 70px;background-color:#333333;color: white;position: inherit; width: 100%;  text-align: center; margin-bottom:10px;}
.logo{float:left;}
.search{float:right;width:15%;padding:15px 100px;}
footer {clear: both;background-color:#333333;color: #ffffff; margin-top:20px;
    bottom:0; width:100%; text-align: center;}

.gallery{margin-left:5%;margin-right:5%;background-color: #f5f5f5; border: 2px solid #cccccc;}
.gallery .items{margin-left:10%;margin-right:10%;display: inline-block;text-align:center;font-size:20px;}
.gallery .frame{ background:#ECF0F1; border: 1px solid black;}
.gallery .image{width:200px; height:200px;background-position:50% 50%; background-repeat:no-repeat;
    border: 1px solid black; margin-top: 5px;background-color:darkcyan;}
ul {list-style: none;}

.gallery li{float: left;  margin-right: 15px;}
.gallery li a { display: block; /* меняем отображение на блок, чтобы иметь возможность задавать внутренние отступы */
    padding: 5px; color: #000;text-decoration:none;}
.gallery li a:hover { color: #fff;}
