* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0px;
    font-family: Arial;
    font-size: 14px;
}
header,footer {
    position: absolute;
    left: 0;
    padding: 10px 0px;
}
header{
    background-color:#333333;
    color: white;
    text-align: center;
    margin-bottom:10px;
    
    width: 1020px;
    margin: 0 auto;
    top: 0;
    padding: 20px;
    overflow: hidden;
}
.logo{
    float:left;
}
.search {
    float:right;
    overflow: hidden;
}
footer {
    clear: both;
    background-color:#333333;
    color: #ffffff;
    margin-top:20px;
    bottom:0;
    width:100%;
    text-align: center;
    
    width: 1020px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
}
.wrapper{
    border-radius: 5px;
    
    width: 1020px;
    min-height: 100%;
    padding-top: 75px;
    padding-bottom: 40px;
    margin: 0 auto;
    overflow: hidden;
}




.search form {
    float: left;
}
.search form input {
    height: 32px;
}
.menuLink {
    float: left;
    margin-left: 10px;
}
.menuLink .menuLink__img {
    width: 32px;
    height: 32px;
}
.sideMenu {
    float: left;
    width: 250px;
    height: 100%;
    border-right: 1px solid black;
}
.sideMenu .sideMenu__list {
    margin: 14px;
    padding: 0;
    list-style: none;
}
.sideMenu .sideMenu__item {
    margin-top: 10px;
    overflow: hidden;
}
.sideMenu .sideMenu__img {
    float: left;
    width: 32px;
    height: 32px;
}
.sideMenu .sideMenu__link {
    display: inline-block;
    height: 32px;
    margin-left: 10px;
    line-height: 32px;
}
.productsList {
    float: left;
    width: 767px;
    margin-left: -1px;
    padding: 14px;
    border-left: 1px solid black;
}
.productsList .productsList__switchView {   
}
.productsList .productsList__list {
    margin-top: 14px;
    overflow: hidden;
}
.productsList__list .productsList__item {
    margin-bottom: 10px;
    padding: 14px;
    background: white;
    overflow: hidden;
}
.productsList__list--gridView .productsList__item {
    float: left;
    width: 23.5%;
    margin-right: 1.5%;
}
.productsList__list--listView .productsList__item {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.productsList .productsList__imgWrapper {
    width: 100%;
    text-align: center;
}
.productsList__list--gridView .productsList__imgWrapper {
    height: 180px;
}
.productsList__list--listView .productsList__imgWrapper {
    width: 35%;
    height: 120px;
    float: left;
    transform: rotate(90deg);
}
.productsList .productsList__img {
    max-height: 160px;
}
.productsList .productsList__link {
    font-size: 120%;
}
.productsList__list--gridView .productsList__link {
    display: block;
}
.productsList__list--listView .productsList__link {
}
.productsList .productsList__price {
    
}
.productsList__list--gridView .productsList__description {
    display: none;
}
.productsList__list--listView .productsList__description {
    display: block;
}
.productsList__list--gridView .productsList__addToCart {
    display: none;
}
.productsList__list--listView .productsList__addToCart {
    display: inline-block;
    padding: 10px;
    background: rgb(220,220,255);
    border-radius: 10px;
}
.orderForm {
    position: relative;
    width: 570px;
    height: 264px;
    margin: 100px auto;
    background-image: url(images/creditcardbg.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.orderForm__input {
    position: absolute;
    height: 40px;
    padding: 10px;
    font-size: 160%;
    line-height: 40px;
    border: 3px solid rgb(0,140,40);
}
.orderForm__input--number {
    width: 328px;
    height: 44px;
    left: 28px;
    top: 110px;
    line-height: 44px;
    word-spacing: 14px;
}
.orderForm__input--validMonth {
    width: 66px;
    top: 190px;
    left: 74px;
}
.orderForm__input--validYear {
    width: 66px;
    top: 190px;
    left: 158px;
}
.orderForm__input--csv {
    width: 74px;
    left: 466px;
    top: 112px;
}
.orderForm__submit {
    position: absolute;
    width: 240px;
    padding: 14px;
    bottom: 0;
    left: 50%;
    margin-bottom: -100px;
    margin-left: -100px;
    font-size: 120%;
}
.addressForm {
    width: 800px;
    margin: 100px auto;
}
.addressForm__section {
    float: left;
    width: 400px;
    margin-bottom: 30px;
}
.addressForm__header {
}
.addressForm__label {
    display: inline-block;
    width: 160px;
}
.addressForm__input {
    display: inline-block;
    width: 200px;
    height: 24px;
    margin-bottom: 10px;
}
.addressForm__checkbox {
    display: inline-block;
    width: 16px;
    height: 28px;
}
.addressForm__caption {
    display: inline-block;
    width: 360px;
}
.addressForm__submit {
    display: block;
    width: 120px;
    padding: 8px;
    margin: 0 auto;
}