body {margin: 0; padding: 0px; font-family: Arial;font-size: 14px;}

header,footer {padding: 10px 0px;background-color: #f5f5f5; border: 2px solid #cccccc;}
header{min-height: 70px;background-color:#333333;color: white;position: inherit; width: 100%;  text-align: center; margin-bottom:10px;}
.logo{float:left;}
.search{float:right;width:15%;padding:21px;}
footer {clear: both;background-color:#333333;color: #ffffff; margin-top:20px;
    position:absolute; bottom:0; width:100%; text-align: center;}


