/*структура*/
body{ background-color: #eceefe; margin:0px; padding:0px; font: 16px Arial, Tahoma, sans-serif; }
div.block{ background-color: #f5f5f5; border: 2px solid #cccccc; position: fixed;
    top: 50%; left: 50%;margin-top: 50%; margin-left: 50%;
    padding-left: 160px; width: 350px;  box-shadow: 1px 1px 3px #03052d;}
div.block a{color: #03052d; }
div.block a:active{color: #cfd4fc;}
div.block label{display: block;margin-top: 20px;letter-spacing: 2px;}

input{background: #eceefe;border: 1px solid #03052d;padding: 5px;margin-top: 3px;font-size: 0.9em;}



